/* components/ChannelCard.module.css */

.channelCard {
  background-color: var(--sidebar-background);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  height: 20rem;
  width: 16rem;
}

.channelCard:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.15);
}

.channelBanner img {
  width: 100%;
  height: 9.375rem;
  object-fit: cover;
}

.defaultBanner {
  width: 100%;
  height: 9.375rem;
  background-color: #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666666;
  font-size: 1.25rem;
}

.channelInfo {
  display: flex;
  padding: 1rem;
}

.channelIcon img {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  object-fit: cover;
  border: 0.125rem solid var(--hover-color);
}

.defaultIcon {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background-color: #666666;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
}

.channelDetails {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.channelName {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  color: var(--text-color);
}

.channelDescription {
  font-size: 0.95rem;
  margin: 0.5rem 0;
  color: var(--text-color);
}

.subscriberCount {
  font-size: 0.85rem;
  color: var(--text-color);
}

.actionButtons {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  display: flex;
  gap: 0.5rem;
}

.editButton,
.deleteButton {
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
}

.editButton:hover,
.deleteButton:hover {
  background: rgba(255, 255, 255, 1);
}

.editButton:focus,
.deleteButton:focus {
  outline: 0.125rem solid var(--hover-color);
}

.channelCard a {
  color: inherit; /* Inherit the color from the parent */
  text-decoration: none; /* Remove underline by default */
}

.channelCard a:focus {
  outline: none; /* Remove default focus outline */
}
