/* components/Navbar.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--navbar-background); /* Use CSS variable */
}

.navLeft,
.navRight {
  display: flex;
  align-items: center;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--navbar-text-color); /* Use CSS variable */
  text-decoration: none;
  cursor: pointer;
  margin: 0 10px;
  background: none;
  border: none;
  padding: 5px;
  transition: color 0.3s ease;
}

.navItem span {
  font-size: 12px;
  margin-top: 4px;
}

.navItem:hover {
  color: var(--hover-color); /* Use CSS variable */
}

.navItem:focus {
  outline: none;
}

/* Specific styles for the button element within navItem */
button.navItem {
  background: none;
  border: none;
  color: inherit; /* Inherit color from parent */
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  transition: color 0.3s ease;
}

button.navItem:hover {
  color: var(--hover-color); /* Hover color for button */
}

button.navItem:focus {
  outline: none;
}

button.navItem span {
  font-size: 12px;
  margin-top: 4px;
}

/* Ensure icons within navItem inherit color */
.navItem svg {
  color: inherit; /* Inherit color from .navItem */
}

.navItem:hover svg {
  color: var(--hover-color); /* Hover color for icons */
}
