.channelListPage {
  position: relative;
  padding: 0; /* Removed extra padding */
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}

[data-theme="dark"] .channelListPage {
  background-image: url("/Space.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

[data-theme="dark"] .channelListPage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.mainContent {
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem 1rem; /* Adjusted padding */
  margin-left: 7rem; /*centering content */
}

.pageTitle {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.channelsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.loading,
.error {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
  color: var(--text-color);
}

/* Fade-In Animation for Cards */
.channelCardWrapper {
  opacity: 0;
  transform: translateY(1.25rem);
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(1.25rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 64rem) {
  .channelsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 48rem) {
  .channelsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 30rem) {
  .channelsGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
